server {
    listen 80;

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.host|default(elao_base_host) }};
    root {{ item.root|default('/srv/' ~ item.name) }};

    error_log /var/log/nginx/{{ item.name }}.error.log;
    access_log /var/log/nginx/{{ item.name }}.access.log;

{% if item.extra is defined %}
    {{ item.extra }}
{% endif %}

    location / {
        index index.php;
{% if elao_vagrant %}
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
{% endif %}
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(.*)\.php(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_read_timeout 300;

{% if item.location_extra is defined %}
        {{ item.location_extra }}
{% endif %}
    }
}
