server {
    listen {{ item.port|default(80) }};

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.host|default(elao_base_host) }};
    root {{ item.root|default('/srv/' ~ item.root_name|default(item.name)) }};

    error_log /var/log/nginx/{{ item.log_name|default(item.name) }}.error.log;
    access_log /var/log/nginx/{{ item.log_name|default(item.name) }}.access.log;

{% if item.extra is defined %}
    {{ item.extra }}
{% endif %}

    location / {
        index {{ item.index|default(['index'])|first }}.php;
{% if elao_vagrant %}
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
{% endif %}
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(.*)\.php(/|$) {
        include php_params;

{% if item.location_extra is defined %}
        {{ item.location_extra }}
{% endif %}
    }
}
