server {
    listen 80;

    server_name {{ item.value['host'] }};
    root {{ item.value['root']|default('/srv/' ~ item.key) }};

    error_log /var/log/nginx/{{ item.key }}.error.log;
    access_log /var/log/nginx/{{ item.key }}.access.log;

    location / {

        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
    }
}
