server {
    listen {{ item.address|default(elao_base_address if (elao_env == 'prod') else '*') }}:{{ item.port|default(80) }};

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.host|default(elao_base_host) }};
    root {{ item.root|default('/srv/' ~ item.root_name|default(item.name) ~ '/symfony/' ~ ('current/' if (elao_env == 'prod') else '') ~ 'web') }};

    error_log /var/log/nginx/{{ item.log_name|default(item.name) }}.error.log;
    access_log /var/log/nginx/{{ item.log_name|default(item.name) }}.access.log;

{% if item.extra is defined %}
    {{ item.extra }}
{% endif %}

    location / {
        index {{ item.index|default(['index'])|first }}.php;
        try_files $uri /{{ item.index|default(['index'])|first }}.php?$args;
{% if elao_vagrant %}
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
{% endif %}
    }

    # Symfony
    location ^~ /sf/ { 
        alias {{ elao_php_symfony.install_path }}/{{ elao_php_symfony.version }}/data/web/sf/;
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(
        {{- item.index|default(['index'])|join('|') -}}
        {%- if elao_env != 'prod' -%}
            |
            {{- item.index|default(['index'])|map('regex_replace','^(.*)$','\\1_dev')|join('|') -}}
        {%- endif -%}
    )\.php(/|$) {
        include php_params;

{% if item.location_extra is defined %}
        {{ item.location_extra }}
{% endif %}
    }
}
