server {
    listen 80;

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.value['host'] }};
    root {{ item.value['root']|default('/srv/' ~ item.key ~ '/symfony/' ~ ('current/' if (elao_env == 'prod') else '') ~ 'web') }};

    error_log /var/log/nginx/{{ item.key }}.error.log;
    access_log /var/log/nginx/{{ item.key }}.access.log;

    # strip app.php/ prefix if it is present
    rewrite ^/app\.php/?(.*)$ /$1 permanent;

{% if item.value['extra'] is defined %}
    {{ item.value['extra'] }}
{% endif %}

    location / {
        index app.php;
        try_files $uri @rewriteapp;
{% if elao_vagrant %}
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
{% endif %}
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(app{% if elao_env != 'prod' %}|app_dev|app_test{% endif %})\.php(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_read_timeout 300;

{% if item.value['location_extra'] is defined %}
        {{ item.value['location_extra'] }}
{% endif %}
    }
}
