server {
    listen {{ item.port|default(80) }};

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.host|default(elao_base_host) }};
    root {{ item.root|default('/srv/' ~ item.name ~ '/silex/' ~ ('current/' if (elao_env == 'prod') else '') ~ 'web') }};

    error_log /var/log/nginx/{{ item.name }}.error.log;
    access_log /var/log/nginx/{{ item.name }}.access.log;

    # strip index.php/ prefix if it is present
    rewrite ^/index\.php/?(.*)$ /$1 permanent;

{% if item.extra is defined %}
    {{ item.extra }}
{% endif %}

    location / {
        index index.php;
        try_files $uri @rewrite;
{% if elao_vagrant %}
        # Issue with virtualbox and nginx
        # http://jeremyfelt.com/code/2013/01/08/clear-nginx-cache-in-vagrant/
        sendfile off;
{% endif %}
    }

    location @rewrite {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(index{% if elao_env != 'prod' %}|index_dev{% endif %})\.php(/|$) {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
        fastcgi_read_timeout 300;

{% if item.location_extra is defined %}
        {{ item.location_extra }}
{% endif %}
    }
}
