server {
    listen {{ item.address|default(elao_base_address if (elao_env == 'prod') else '*') }}:{{ item.port|default(80) }};

    server_name {% if elao_vagrant %}*.vagrantshare.com {% endif %}{{ item.host|default(elao_base_host) }};
    root {{ item.root|default('/srv/' ~ item.root_name|default(item.name)) }};

    error_log /var/log/nginx/{{ item.log_name|default(item.name) }}.error.log;
    access_log /var/log/nginx/{{ item.log_name|default(item.name) }}.access.log;

{% if item.extra is defined %}
    {{ item.extra }}
{% endif %}

    location / {
        proxy_pass {{ item.proxy.address|default('http://127.0.0.1') }}:{{ item.proxy.port }};
        proxy_http_version 1.1;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;

{% if item.location_extra is defined %}
        {{ item.location_extra }}
{% endif %}
    }
}
